body {
  display: flex;
  justify-content: space-between;
  background: rgb(55, 60, 66);
}

.add-dinheiro {
  display: flex;
}

.moedas {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  position: relative;
  margin-left: 20px;
  margin-bottom: 15px;
  padding: 10px;
  width: 183px;
  border-radius: 15px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, .6);
  background: rgb(55, 66, 70);
  color: rgb(200, 200, 200);
}

.cedulas {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  position: relative;
  margin-left: 20px;
  margin-bottom: 15px;
  padding: 10px;
  width: 183px;
  border-radius: 15px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, .6);
  background: rgb(55, 66, 70);
  color: rgb(200, 200, 200);
}

.menu {
  position: absolute;
  top: 20px;
  right: -205px;
}

.menu {
  display: none;
  flex-direction: column;
  line-height: 25px;
  padding: 15px;
  width: 200px;
  border-radius: 15px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, .6);
  background: rgb(55, 66, 70);
  color: rgb(200, 200, 200);
}

.abrir-menu {
  align-self: flex-end;
  background: black;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-bottom: 10px;
}


.contabilizacao {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-left: 100px;
  padding: 10px;
  height: 100px;
  width: 300px;
  border-radius: 15px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, .6);
  background: rgb(55, 66, 70);
  color: rgb(200, 200, 200);
  align-self: center;
}

.add-dinheiro {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}

h2 {
  color: rgb(240, 240, 240)
}

input[type=button] {
  border-radius: 5px;
  border: none;
  width: 24px;
  height: 24px;
  box-shadow: 2px 0px 5px black;
}

input[type=button]:hover {
  background: rgba(255, 255, 255, 0.2);
}

.meta-dinheiro {
  display: flex;
  flex-direction: column;
  padding: 10px;
  border-radius: 20px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, .6);
  background: rgb(55, 66, 70);
  color: rgb(200, 200, 200);
}

.add-meta {
  display: flex;
  flex-direction: column;
}

#confirmar-meta {
  width: 80px;
  align-self: flex-end;
  margin-top: 5px;
}

label {
  font-size: 14px;
}

.grafico {
  position: relative;
  width: 100%;
  height: 70%;
  border-radius: 20px;
  margin-top: 50px;
  background: rgb(45, 56, 60);
}

#ver-grafico {
  position: absolute;
  width: 60px;
  height: 350px;
  background: red;
  border: 1px solid gray;
  bottom: 5px;
  left: calc(50% - 30px);
}

#valor-meta {
  position: absolute;
  color: black;
  top: -25px;
}
